/* stylings */

#threeD{
    position: relative;
    z-index: 9999;
}

.d3{
    position: absolute;
    width: 100px; /* Example size */
    height: 100px; /* Example size */
    transform-style: preserve-3d; /* Enable 3D space */
    z-index: 9999;
}

#bit1{
    left: 30rem;
    top: -67rem;
}

#bit2{
    right: 20rem;
    top: -90rem;
}

#sol1{
    width: 10rem;
    height: 10rem;
    left: 27rem;
    top: 0rem;
}

#arrow{
    width: 10rem;
    height: 10rem;
    left: 47rem;
    bottom: -138rem;
}

#heart1{
    width: 10rem;
    height: 10rem;
    right: 5rem;
    bottom: -48rem;
}
#heart2{
    width: 10rem;
    height: 10rem;
    left: 5rem;
    bottom: -98rem;
}

@media (max-width: 480px){

    .d3{
        width: 50px; 
        height: 50px; 
    }

    #bit1{
        left: 6rem;
        top: -126rem;
    }

    #bit2{
        right: 10rem;
        top: -98rem;
    }

    #sol1{
        width: 5rem;
        height: 5rem;
        left: 5rem;
        top: -50rem;
    }

    #arrow{
        width: 5rem;
        height: 5rem;
        left: 7rem;
        bottom: -85rem;
    }

    #heart1{
        width: 5rem;
        height: 5rem;
        right: 5rem;
        bottom: -50rem;
    }

    #heart2{
        width: 5rem;
        height: 5rem;
        left: 20rem;
        bottom: -160rem;
    }
}

