#tileContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 10rem;
    justify-content: center;
    place-items: center;
    margin-top: 4rem;
}

.tile{
    display: flex;
    flex-direction: column;
    background-color: #310766 ;
    width: 35rem;
    height: 35rem;
    padding: 2.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.18s ease-out;
}

.tile:hover{
    scale: 0.97;
    border: solid 2px #fff;
}

.tile p, .tile h3{
    color: #fff;

}

.tile h3{
    font-size: 2.5rem;
}

.tile p{
    font-size: 1.5rem;
    margin-top: 1.4rem;
}

@media (max-width: 480px) {
    #tileContainer{
        gap: 3rem;
        margin-top: 2rem;
        grid-template-columns: repeat(2, 1fr); /* 3 equal-width columns */
    }
    
    .tile{
        width: 20rem;
        height: 20rem;
        padding: 2rem;
    }
    
    .tile h3{
        font-size: 2rem;
    }
    
    .tile p{
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}