.superSection{
    width: 100%;
    height: 133vh;

    background: url('/images/use.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 480px) {
    .superSection{
        height: auto;
    }
}